[2018-04-12 18:02] chetmurphy opened #3 "Components should not rely on react-router-dom"
My project uses router5 with mobx, so this dependency means that styled-bootstrap-components is not compatible without rewriting the NavLink component.

[2018-04-12 18:28] aichbauer commented on #3
Hey, thanks for your interest in this project.

So do you think we should only use the plain a tag? How would you use the NavLink in combination with any router?

[2018-04-13 04:50] chetmurphy commented on #3
For router5 I simply call a handler provided by the router store.

Note: This is also how React Semantic UI does it.

const rightItems: MenuItemProps[] = [
  { as: 'a', content: 'Login', key: 'login', routename: 'signin', onClick: link },
  { as: 'a', content: 'Register', key: 'register', routename: 'signup', onClick: link }
];

--Chet

________________________________
From: Lukas Aichbauer <notif

[2018-04-13 05:55] aichbauer commented on #3
I will take a look into it as soon as possible.

Also, Pull Requests are always welcome. If you already have solution that fits all needs, feel free to open a PR.

[2018-04-13 15:10] chetmurphy commented on #3
Thanks. My current solution is to just remove the router prop, but that is not a generic solution. The react-router Link class is just a React.Component<LinkProps,any> class so it seems like it would be possible to pass that class to your library rather than have it built-in

I am currently focused on seeing what it would take to use typescript with your library starting with styled-system which a

[2018-04-14 04:51] aichbauer commented on #3
So I had time last night to play around with it. I do not know why I didn't came up with it in first place. But yeah its simple as

[code]

So we can get rid of it. I try do get it done as soon as possible. Maybe you have an more detailed example on how to use it with router5, then we could add this to the docs?

[2018-04-14 12:14] chetmurphy commented on #3
Good.

FYI: I’m still in the process of converting your components and styled-system to typescript, so it is going to take a few more days until I have a working example.

________________________________
From: Lukas Aichbauer <notifications@github.com>
Sent: Friday, April 13, 2018 9:51:50 PM
To: aichbauer/styled-bootstrap-components
Cc: chetmurphy; Author
Subject: Re: [aichbauer/styled-bootstrap-

[2018-05-01 09:10] #3 closed

[2018-05-04 10:59] aichbauer opened #6 "Fix: NavLink using with a router component"
When using a router (in my case react-router-dom) with the NavBarLink component. I got a error warning from react. because we are nesting a-tags within a-tags which is not valid.

`Warning: validateDOMNesting(...): <a> cannot appear as a descendant of <a>.`

so we could add a new prop on Navlinks e.g. `span` and then use the styling from NavLink on a span instead of an a-tag, only when we apply th

[2018-08-19 08:19] ericraio opened #8 "Disable Scroll"
Having an issue where if the modal is being displayed, I can't disable the scroll

[2018-08-19 15:57] aichbauer commented on #8
Can you please give a little bit more details about what you are trying to accomplish.

If you are just trying to disable scroll than make the `body` of the html to `overflow: hidden;`.

[2018-08-21 06:25] #8 closed

[2018-08-26 15:07] joetidee opened #9 "Table - valign td"
What is the best way to vertical align content within `<td>` elements?

[2018-08-26 15:36] aichbauer commented on #9
This is more a generell question about css and it is probably better to ask this kind of questions that are not directly related to this library on [stackoverflow](https://stackoverflow.com/search?q=vertical+align+in+td).

But to answer your question: the easiest way to vertical align the content within `<td>` elements is to:

you can use the following args: `baseline | sub  | super | text-top | t

[2018-08-26 18:00] joetidee commented on #9
This question was directed at the library, i.e. there are no props to allow vertical alignment within the <td> elements and I thought that there should be.

[2018-08-26 18:29] aichbauer commented on #9
Okay, I am open for ideas.

The current implementation does not even have a own `<Td>` component. That is why there are no props for this.

The question is if it would make sense to create a own `<Td>` component. Currently all Components are based on the class names that were used in bootstrap 4. Thats why there is no implementation for `<Td>` because there is no class explicitly for `<Td>`.

But

[2018-08-26 22:13] joetidee commented on #9
I can't see how these utility components can benefit a Td styled component, for example (?)

[2018-08-27 19:58] aichbauer commented on #9
We could use the utility components like:

[code]

But I don't think that we need a particular new component for a `<Td>`.

If you would like to have all `<td>` in you table to be vertical aligned you could just use:

[code]

and then just use this component.

Do you have any ideas? Because without you giving me examples I can not decide wether we can implement that or not.

[2018-10-08 13:14] aichbauer commented on #9
close due to no response.

[2018-10-08 13:14] #9 closed

[2018-12-03 10:04] aichbauer opened #12 "Fix: make usable with styled-components v4.x.x"
Right now some components are unusable with `styled-components` v4

`TypeError: CardTitleH4 is not a constructor`

e.g. the card title component, which has now a property with for different sizes of the heading and is exported as `return new CardTitleH4(props);` This dows not work in v4 any more.

[2018-12-15 23:43] geirman opened #14 "FormControlInput is not a constructor"
Firstly, I think this repo looks awesome, and I was excited to check it out. But unfortunately I ran into problems right away trying to create a form.

Using NextJS, I created the following test component...

[code]

But got this error...

[code]

To test, I verified that the error goes away if I replace `FormControl` with the following styled input...

[code]

Here's the versions I have installed

[2018-12-16 12:40] aichbauer commented on #14
Thank you 👍

I think this problem is related to #12. I am right now working on a new release that should fix all this behavior with styled-components 4.x.x. Hopefully in the next few days.

[2018-12-20 19:02] richardblondet commented on #14
Hello @aichbauer thanks for your amazing work. I just ran into this issue. What's the best way to move along?
Should we downgrade `styled-components` ?

Thanks!

[2018-12-20 19:06] aichbauer commented on #14
@richardblondet thanks 😀

Right now the only way to use this library completely is to use styled components v3.x.x but I am working on a new version hopefully releasing this week. The library fixed but I have to get some tests to pass. But this new version comes with complete new possibilities to customize this components to fit your needs.

[2018-12-24 12:44] aichbauer commented on #12
closed by #15

[2018-12-24 12:44] #12 closed

[2018-12-24 12:44] aichbauer commented on #14
closed by #15

[2018-12-24 12:44] #14 closed

[2018-12-24 18:42] MonteKrysto opened #16 "Can't Load Components"
I have installed `styled-components` and `styled-bootstrap-components`.

This is my component:
[code]

When accessing the app after building I get:

[code]

Is there another step I am missing?

[2018-12-24 21:51] aichbauer commented on #16
Hey, thank you for your issue.

Could you create a repo or a code-sandbox where this issue also happens? Which versions of styled-components and styled-bootstrap-components are you using?

I created a code sandbox example to show you how it is working.

[![Edit 54zpqpll1p](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/54zpqpll1p)

[2018-12-26 16:36] aichbauer commented on #16
I see what the problem is.

It should work now with v3.0.1

Here is a working example.

[![Edit donate-to-donate-frontend](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/v3q98n8w0)

If you are using a themeprovider, you need to inject the theme of `styled-bootstrap-components`.

[2018-12-26 19:33] MonteKrysto commented on #16
Thank you for the fix, that worked!

[2018-12-26 19:33] #16 closed

[2019-02-24 02:09] kingRayhan opened #18 "Contaner not getting centered"
I'm using container Component from `styled-bootstrap-components`. It's make my div full width. What's the problem?

![image](https://user-images.githubusercontent.com/7611746/53294144-36ff2f80-380b-11e9-9ea6-767c95feb63c.png)

![image](https://user-images.githubusercontent.com/7611746/53294160-804f7f00-380b-11e9-9400-e71bc8884dcc.png)

[2019-02-24 17:43] aichbauer commented on #18
@kingRayhan thanks for reaching out... I will take a look into the issue tomorrow.

[2019-02-25 15:59] #18 closed

[2019-02-25 17:16] kingRayhan commented on #18
@aichbauer if possible, will you fix this bug quickly? I wanted a project with is the package.
Thanks for your effort 😄

[2019-02-25 17:31] aichbauer commented on #18
@kingRayhan v3.0.2 is out with a fix for that isdue

[2019-02-26 19:02] aichbauer opened #21 "Docs: display menu"
Since the last release the docs do not have a visible menu for navigation anymore.

[2019-03-07 13:51] #21 closed

[2019-03-12 12:08] aakhan89 opened #24 "TypeError: Cannot read property 'padding' of undefined"
TypeError: Cannot read property 'padding' of undefined

![image](https://user-images.githubusercontent.com/38126236/54198906-6ab7a600-44e9-11e9-87ef-0404f76a0b5b.png)

[2019-03-12 12:16] aakhan89 opened #25 "TypeError: Cannot read property 'colors' of undefined"
TypeError: Cannot read property 'colors' of undefined

![image](https://user-images.githubusercontent.com/38126236/54199306-6b9d0780-44ea-11e9-8bd4-cbc2c0cba2f4.png)

`
import React, {Component} from 'react';

import { Button } from 'styled-button-component';
import {
  Dropdown,
  DropdownItem,
  DropdownMenu,
} from 'styled-dropdown-component';

const SimpleDropdown = (props) => (
    <Button>He

[2019-03-12 12:58] aichbauer commented on #25
@aakhan89 thanks for reaching out...

I assume you are using a `styled-components` ThemeProvider with your own theme? If so you need to merge your own theme with the one that `styled-bootstrap-components` is exporting.

like

[code]

If not could you please provide a codesandbox with an example that is not working?

[2019-03-12 12:58] aichbauer commented on #24
#25 duplicate

[2019-03-12 12:58] #24 closed

[2019-03-12 13:22] aakhan89 commented on #25
@aichbauer

Thank you very much for your quickly response

as required here my current Sandbox please check and advice

https://codesandbox.io/s/y3mrmwm1rz

[2019-03-12 13:36] aichbauer commented on #25
@aakhan89

https://codesandbox.io/embed/zl133391mm?fontsize=14

here is how it works, I hope I could help you out.

Feel free to close this issue if you do not have any further questions...

[2019-03-13 05:20] aakhan89 commented on #25
@aichbauer
Thank you for your help, really appreciated
going to close this issue 💯

[2019-03-13 05:20] #25 closed

[2019-03-13 06:20] aakhan89 commented on #25
@aichbauer

I have done it another approach, so I request to you please check this way and let me know if it's fine?

[https://codesandbox.io/s/y3mrmwm1rz](url)

Thanks in advance

[2019-03-13 07:08] aakhan89 opened #26 "How would I fully customize theme of (styled-config)"
@aichbauer

I want to customize default theme of styled-config which is provided by you, [https://github.com/aichbauer/styled-bootstrap-components/blob/master/packages/styled-config/test/fixtures/index.js](url)

codesandbox link:
[https://codesandbox.io/s/y3mrmwm1rz](url)

help wanted:
1- how can I customize can you please explain, also I am sharing codesandbox link for your ready reference
2- If

[2019-03-13 08:58] aichbauer commented on #26
@aakhan89 I should update the docs so that it makes more sense... Actually you can just overwrite every single item from our theme.

If you want to fully customize your library you could take the theme from: https://github.com/aichbauer/styled-bootstrap-components/blob/master/packages/styled-config/test/fixtures/index.js and then just start overwriting the the parts that you want and use that them

[2019-03-13 09:42] aakhan89 commented on #26
Yes bro, If you update the doc it would be more helpful and appreciated, but as you suggested above I got the solution, thank you for your reply.....

I have some more quires regarding drop down menu  should I close this and create new issue ? OR can I as in the same thread ?

[2019-03-13 10:43] aakhan89 commented on #26
@aichbauer

Here is my updated CodeSanbox I want to make the dropdown like below screen shot.

So how would I control `fontSize`, `before & after` `styled-icon use in dropdown options` etcc...

![image](https://user-images.githubusercontent.com/38126236/54273033-c431da80-45a6-11e9-81b9-c77406d02b5a.png)

[2019-03-13 10:57] aakhan89 commented on #26
@aichbauer

How can I use `border-top: 'none'` , `border-bottom: 'none'`, `font-size: '14px'` in button component `light`

also please check the above CodeSandbox link the toggle property not working

[2019-03-13 11:40] aakhan89 commented on #26
Updated

[https://codesandbox.io/s/1vp7zvww04](url)

Issues:
1- `boxShadow: 'inset 0 3px 5px rgba(0, 0, 0, .125)',` not working in button component
2- I want to remove arrow which is showing in button
3- Want to use icons component from `styled-icon` , how can I use `**before & after**` in DropdownItem

[2019-03-13 11:54] aichbauer commented on #26
[![Edit styled-dropdown-component](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/79mv10zx6?fontsize=14)The icons are more `react` specific questions not really `styled-bootstrap-components` related.

the toggle on this component is related to the navigation. it needs to have a `toggleCollapse` and a `expandSm` or `expandMd` or `expandLg` or `expandXl` on it... w

[2019-03-13 13:37] aakhan89 commented on #26
Thank you very much @aichbauer really happy with your assist

Could you please also explain, if I have two dropdown menu both are `dropdownToggleLeft`
so how can I `dropdownToggleRight` to second one and the first one will remail `dropdownToggleLeft`

and secondly if click outside so dropdown menu should b closed

[2019-03-13 14:07] aichbauer commented on #26
That is all pretty unrelated to `styled-bootstrap-components` and most of your questions are better for a [stackoverflow question](https://stackoverflow.com).

Actually the thing you are looking for is in this PR: #23  which should get merged pretty soon. Or you can simply add `right: 0;` and `left: 0;`.

If you want functionality for the outside click and you think this should be supported by thi

[2019-03-13 14:07] #26 closed

[2019-03-13 14:13] aakhan89 commented on #26
Can you please confirm when have `**boxShadow**` propert in **`button component`** so why wer created with styled-component ?

` button: {
    colors: {
      primary: {
        color: '#fff',
        colorOutline: '#007bff',
        colorOutlineHover: '#fff',
        backgroundColor: '#007bff',
        backgroundColorDisabled: '#007bff',
        backgroundColorHoverFocus: '#0069d9',
        backg

[2019-03-13 14:21] aichbauer commented on #26
I do not fully understand your question.

But if you are talking about why there is a `boxShadow` property in the theme but not actually working as `boxShadow`, then you are probably right as this is a wrong name for it as it is only `boxShadowColor`.

If you think this is a bug or should be renamed please feel free to open a new issue and we can discuss this.

[2019-03-13 14:25] aakhan89 opened #27 "boxShadow should be boxShadowColor"
I think as this is a wrong name it should be `boxShadowColor`. because `boxShadow ` property in the theme but not actually working as `boxShadow`,

Thanks

[2019-03-15 18:45] dachinat opened #28 "Ability to use bootstrap classes"
It would be nice to have a feature so that if my component is wrapped in your provider all children can use css classes like `d-flex`, `text-danger`, and so on.

Is this "sort-of" supported now?

[2019-03-15 20:41] aichbauer commented on #28
Currently every property that gets passed to your component will actually be rendered to the DOM. wich means that you can pass something like `<Button className="your-css-classname" id="your-css-id">My Button</Button>` and this will result into <button></button> if that is what you are asking. If not please show a more detailed example of what you are trying to achieve and we can figure it out tog

[2019-03-15 20:44] dachinat commented on #28
@aichbauer Thanks for this lib. I really like it.
Yeah, I went through the source code.

I was thinking of something practical like:
I wanted to align two buttons in center, so I made my custom `Center` styled component with css flex properties. It would be nicer if you could support for example `Div` component and you could have `<Div className="text-danger">Something</Div>`. Just saying.

[2019-03-15 20:45] aichbauer commented on #27
@aakhan89 I am definitely with you on this issue, but right now we could only change this theme when bumping up the major version. While I am definitely not scared to do that, I think that we should investigate into more things regarding the theme, and when we found all problems (misspelling, etc.) in this theme than we can update this.

[2019-03-15 20:55] aichbauer commented on #28
Thank you, I am glad you like it 😀

If you think about something similar to [Utility classes of Bootstrap](https://getbootstrap.com/docs/4.3/utilities/colors/). Than I definitely would love to support this. While I think we should not use `className` for them since this library currently is `props` based.

But we could definitely support something similar to `<Button text-danger>Somthing</Button>`

[2019-03-15 21:00] dachinat commented on #28
@aichbauer That sounds perfect! Yes, I was thinking of utility classes, including flex and others. It would be really great.

I'm heavily busy these days (weeks), I would contribute with prs otherwise.

So handy to use bootstrap with  styled components 🎉

[2019-03-17 06:48] aakhan89 commented on #27
Agreed with you, I think I should close this for now

[2019-03-17 06:48] #27 closed

[2019-03-20 10:16] aakhan89 opened #29 "Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>."
I wrapped a component that is by another component. Essentially a **StyledButton within a Button.**

`const StyledButton = styled(Button)`

**Below is Console log**
![image](https://user-images.githubusercontent.com/38126236/54676713-2056aa80-4b23-11e9-9f50-d9dbbf57b754.png)

[2019-03-20 10:23] aichbauer commented on #29
@aakhan89 can you give an example code? This is a warning from `react` itself. As I understand you do something like this:

[code]

which is not good. Because valid html does not support buttons within buttons... so what you want is most likely to be something like:

[code]

[2019-03-20 10:28] aakhan89 commented on #29
@aichbauer

There isn't buttons withing buttons check me DOM of react dev tool, also I am going to share live example in codesandBox

![image](https://user-images.githubusercontent.com/38126236/54677459-c0610380-4b24-11e9-98a2-6e25eb3b10f6.png)

It seem I am using I am wrapping const StyledButton = styled(Button) so it could be issue... but I am not sure....

[2019-03-20 10:31] aichbauer commented on #29
@aakhan89 can you give me an codesandbox example...

[2019-03-20 10:37] aakhan89 commented on #29
@aichbauer

https://codesandbox.io/s/1vp7zvww04

[2019-03-20 12:55] aichbauer commented on #29
I can't see any problems in the console... are you sure this is the example to reproduce?

[2019-03-20 14:44] aakhan89 commented on #29
Actually when I am trying to show dynamic content as you can see on CodeSandBox **`{this.props.publishedStatus}`** then I am facing these warnings, If I place simple text so there is no warnings

[2019-03-20 16:57] aichbauer commented on #29
and what is `this.props.publishedStatus`? You need to give me more information, or something to recreate, otherwise I can not help you...

[2019-03-21 09:38] aakhan89 commented on #29
@aichbauer Issue has been resolved, the issue wasn't related with **`const StyledButton = styled(Button)`** I am going to close this with apologize

[2019-03-21 09:38] #29 closed

[2019-03-24 10:09] aakhan89 opened #30 "Dropdownmenu Right Alignment"
@aichbauer

Hi,
Can you please share regarding Dropdownmenu Right Alignment

Just wanted to ask have you merged
https://github.com/aichbauer/styled-bootstrap-components/pull/23

[2019-03-24 11:08] aakhan89 opened #31 "1 Dropdown Menu should be open at one time"
I have 3 drop down menu when I click on all the drop down menu remain open however when I click another one so previous one should b close.

Last toggle option has an issue with close and open

https://codesandbox.io/s/1vp7zvww04

[2019-03-24 17:36] aichbauer commented on #31
That is not really a issue with `styled-bootstrap-components`. You need to set the `boolean` for the other dropdown to `false`

a quick and dirty fix would be:

[code]

[2019-03-24 17:36] #31 closed

[2019-03-24 17:37] aichbauer commented on #30
I do not really understand your question... Can you clarify?

If you asked if is merged, then no... we need to add documentation for that feature before we can merge it.

[2019-03-31 07:15] aakhan89 commented on #30
I was asking about merged

[2019-03-31 07:15] #30 closed

[2019-03-31 07:19] aakhan89 opened #32 "How to pass custom props"
Wat to pass custom props for some conditional styling
color: ${props => props.published ? "mediumseagreen" : "#999"};

 render() {
 const **status** = this.props.currentStatus;
return (
 <Dropdown ref={this.setWrapperRef}>
                        <StyledButton
                            **status**
                            light
                            noRadius
                            o

[2019-03-31 09:32] aakhan89 commented on #32
Solved...!

Wat to pass custom props for some conditional styling
color: ${props => props.status = "Published" ? "mediumseagreen" : "#999"};

render() {
const status = this.props.currentStatus;
return (

<StyledButton
status={this.props.status}
light
noRadius
onClick={() => this.handleOpenCloseDropdown('published')} />
}

Thanks

[2019-03-31 09:32] #32 closed

[2019-04-17 15:16] michaelkrukov commented on #6
You can replace tag using ["as" polymorphic prop](https://www.styled-components.com/docs/api#as-polymorphic-prop) from styled-components.

Example:

[code]

[2019-04-17 17:56] aichbauer commented on #6
@michaelkrukov that sounds exactly like the solution to this kind of problem.

Would you be interested to contribute a Pull Request?

[2019-04-17 18:05] michaelkrukov commented on #6
@aichbauer it's part of `styled-components` and it doesn't require any changes in `styled-bootstrap-components`

[2019-04-19 15:07] aichbauer commented on #6
@michaelkrukov great 😀 I will add an working codesandbox example to this issue and close the issue

[2019-04-20 16:26] aichbauer commented on #6
@michaelkrukov thanks again...

here is a working codesandbox example:

[![Edit NavbarLink as RouterLink](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/mq26579yjy?fontsize=14)

[2019-04-20 16:26] #6 closed

[2019-04-21 23:15] michaelkrukov opened #33 "<Column> lacks features from bootstrap's .col"
Currently `styled-grid-system-component` is taking sizes from smallest to largest and by default it's 100%. It's behavior is quite different from bootstrap's `.col`.

* [`styled-grid-system-component` behavior](https://codesandbox.io/embed/2zy901405n)
* [`bootstrap` behavior](https://codesandbox.io/embed/zzq8l9p9x3)

I think `Columns` should take their sizes from largest (starting from size corres

[2019-04-21 23:28] michaelkrukov commented on #33
[CodeSandbox with `Column`](https://codesandbox.io/embed/oxqrjv44o9) (code taken from #34)

[2019-04-22 08:00] aichbauer commented on #33
@michaelkrukov thank you for your contribution. You are right. I will take a look into #34 as soon as possible.

[2019-04-22 22:52] michaelkrukov opened #35 "<Modal> lacks features from bootstrap's .modal"
Currently `Modal` from `styled-modal-component` lacks features I expected from the modal component:

- Backdrop with the ability to close the visible modal dialog by clicking outside of the dialog;
- Preventing the body from scrolling while the dialog is open;
- Animations for appearing and disappearing;

I created a version of Modal with needed features using some relatively straightforward appro

[2019-04-25 05:23] #33 closed

[2019-04-25 05:27] aichbauer commented on #35
@michaelkrukov I really like the idea behind it, and love to implement it. Could you bring in a PR? Thanks again for your contributions, I appreciate them.

[2019-04-29 13:55] aichbauer commented on #35
@michaelkrukov thank you for your contribution. On the first look it looks good to me. I will try to make a review of the PR within this week.

[2019-04-29 13:57] michaelkrukov commented on #35
@aichbauer alright :ok_hand:

[2019-05-07 19:50] #35 closed

[2019-05-21 08:59] zhangriyueming opened #38 "How to use 'navbar-nav' and 'pull-right' functionality?"
How to use 'navbar-nav' and 'pull-right' functionality?

[2019-05-24 07:28] aichbauer commented on #38
Could you give us a bit more information what you are trying to do...

I guess the documentation should help you: [nav end](https://aichbauer.github.io/styled-bootstrap-components/?path=/story/navs--horizontal-end)

[2019-05-24 12:00] zhangriyueming commented on #38
@aichbauer , Check `navbar-nav` and `pull-right` style in bootstrap. And how to archive `<div class="nav navbar-nav pull-right"></div>` with styled-bootstrap-components?

[2019-05-24 12:04] zhangriyueming opened #40 "<Column> Lacks 'offset' feature"
<Column> should support `offset` like:

`<Column mdOffset={x} md={x} sm={x} smOffset={x}>`

[2019-05-25 12:11] michaelkrukov commented on #38
@zhangriyueming looks like `pull-right` is not an easy utility class to find. I suppose you want to use `margin: auto` for aligning individual items. Like [that](https://codesandbox.io/s/great-knuth-uw53g) for example.

[2019-05-25 12:54] aichbauer commented on #40
This could be a way to do it. @michaelkrukov what do you think about this?

Currently you could simulate any offset with new  self closing `<Colum />`

something like:

[code]

[2019-05-25 13:05] aichbauer commented on #38
Currently this lib does not support utility classes, but we are open for any suggestions an help... We already started in discussing this issue in #28

Maybe we can discuss this there...

[2019-05-25 13:19] aichbauer opened #41 "Fix: passing props to modal"
Currently in `v4.0.0-alpha.0` it is not possible to add additional props to the Modal eg. `className`, `style`... this should be possible, to offer the highest flexibility to generate your own library... This is also necessary to use this component with also we should have a way to add a `style` and `className` prop to the fade component, and to modal backdrop component, modal content component...

[2019-05-25 13:21] michaelkrukov commented on #40
Actually, adding offset is pretty straightforward. If I'm not missing anything, it's a matter of adding a new function and updating media in `<Column>`.

[code]

[code]

[code]

[2019-05-25 13:36] michaelkrukov commented on #40
@aichbauer I can make a pr with offset feature for columns

[2019-05-25 13:49] michaelkrukov commented on #38
@aichbauer while there are no utility classes, it may be practical to add `right` prop to `<NavLink>`. This [looks](https://codesandbox.io/s/clever-oskar-flb1m) nice

[2019-05-25 14:23] aichbauer commented on #38
@michaelkrukov yeah this would be nice.... maybe we can add some of the utility classes to `styled-config` and add the utilities to all components and you can activate them simply like `<NavLink pullRight />` or something like that?

[2019-05-25 14:24] aichbauer commented on #40
@michaelkrukov that would be great 👍

[2019-05-25 14:45] michaelkrukov commented on #28
@aichbauer this is probably a more appropriate place to discuss this matter. I think a better solution than creating `<Div>` component is to add a `Utility` css-helper and add it to every existing component.

[code]

The example above will fix #38

[2019-05-25 15:22] aichbauer commented on #28
@michaelkrukov yeah that would be a good idea...

But what I meant with add the utility classes to `styled-config` was:

We should not rewrite every utility in every component... we could make something like:

[code]

in our `styled-config` and then add it to the component like:

[code]

In this way we only have to write it once...

[2019-05-25 15:27] michaelkrukov commented on #28
@aichbauer yeah, I mean Utility as a shared helper. I'm not sure if it fits `styled-config` package, but this seems logical as such helper will be essential to every lib component and to user's components, possibly, too

[2019-05-26 04:40] zhangriyueming commented on #38
@aichbauer @michaelkrukov , How about have a 'common component' to have all utilities features, and then let all of components in the library extends from it?

[2019-05-26 08:04] aakhan89 opened #44 "How to update Dropdown with DropdownItem onClick"
Hi,

@aichbauer Can you please help how to to update dropdown current item with dropdownItem menu

Thanks

[2019-05-27 10:43] aakhan89 commented on #44
Solved by custom conditional rendering, but please add this functionality too

[2019-05-27 10:43] #44 closed

[2019-05-29 11:18] aakhan89 opened #45 "readOnly prop"
Please add readOnly props for dropdown too

[2019-05-29 20:51] michaelkrukov commented on #28
I decided to work on this issue. [Here](https://codesandbox.io/s/utilities-uoi6w) are results so far. Looks promising.

[2019-06-02 21:56] michaelkrukov commented on #45
What do you mean by `readOnly` in the dropdown? There are `readonly` and `disabled` props in the `FormControlSelect` and `DropdownItem` has `disabled` prop.

[2019-06-02 22:20] michaelkrukov opened #46 "`overflow`, `work-break` and `position` properies"
`Column` and `DropdownDivider` components shouldn't have `overflow` set to hidden by default, `Column` shouldn't have `word-break` and its `position` should be relative

[2019-06-07 16:09] #40 closed

[2019-06-09 12:42] aakhan89 commented on #45
`disabled` props fine for DropdownItem

[2019-06-09 12:42] #45 closed

[2019-06-11 11:22] #41 closed

[2019-06-16 10:56] aakhan89 opened #50 "Want to hide alert form modal"
Want to hide modal alert onClick kindly see the screen shot also CodeSandbox link

![image](https://user-images.githubusercontent.com/38126236/59563127-31925300-904f-11e9-8eb2-0d6ce2e2c586.png)

https://codesandbox.io/s/modal-with-alert-7g174

[2019-06-16 13:41] aakhan89 commented on #50
Want to set width 600px instead of 500px

however below mentioned classes width is differnt
`sm only on Modal Type: boolean
lg only on Modal Type: boolean`

[2019-06-16 14:52] michaelkrukov commented on #50
First of all, don't create issues with multiple questions.

Regarding hiding - use property `hidden`, not `hiddenAlert`; pass state value `hiddenAlert`, not `hiddenAlert`; initially you want to set `hiddenAlert` to `false`.

You can customize components from modal using functionality added in #43. Check out modal's [readme](https://github.com/aichbauer/styled-bootstrap-components/tree/master/packa

[2019-06-17 06:36] aakhan89 commented on #50
I tried DismissAlert from StroyBook but not working also I updated my CodeSandbox, you are requested to please have a look thank you @michaelkrukov

[2019-06-17 06:38] aakhan89 commented on #50
Can you please upload examples on StoryBook how to customize components from modal using functionality added in #43. also how can pass any style or component for customization.

[2019-06-17 09:39] michaelkrukov commented on #50
@aakhan89 you didn't fix all the issues your code has.

Use `hiddenAlert` for alert's hidden, not `hidden`. Your `hidden` is for modal.

[2019-06-17 09:44] michaelkrukov commented on #50
@aakhan89 the storybook is updated with the example for customization. But it's not published to the website yet. You can watch examples in the repository or run the storybook by yourself.

[2019-06-17 09:58] aakhan89 commented on #50
@michaelkrukov Thanks for your reply, I will check examples in the repository :)

[2019-06-17 10:00] aakhan89 commented on #50
@michaelkrukov I am sorry, I tried it, but I am not sure what I am doing wrong, It would be highly appreciated if you can fix on the same CodeSandBox ?

[2019-06-17 10:03] michaelkrukov commented on #50
@aakhan89 https://codesandbox.io/s/modal-with-alert-rgjbm

[2019-06-17 10:07] aichbauer opened #51 "V4.0.0"
Thanks to the active contributions of @michaelkrukov we will soon be releasing a new version 4.0.0

I would like to see this issue as a discussion board for the next version v4.0.0

As the next version has some breaking changes in it I would like to make a list of what is missing that we can implement before v4.0.0.

So I look forward for you ideas...

[2019-06-17 15:03] aakhan89 commented on #50
@michaelkrukov Thanks alot bro :)

[2019-06-17 15:03] #50 closed

[2019-06-17 15:04] aakhan89 commented on #51
Documentation
Examples with each props/component etc..

[2019-06-17 15:07] aakhan89 opened #52 "Animation on Dismiss Alert"
When click on cross the alert should be hide with animation

[2019-06-17 15:18] aakhan89 commented on #50
@michaelkrukov

Just wanted to ask why we are using `onKeyPress={() => this.toggleAlert()}` however we have  `onClick={() => this.toggleAlert()}`

[2019-06-17 16:29] michaelkrukov commented on #50
@aakhan89 I only fixed problems that were in the sandbox. It's not needed.

[2019-06-18 00:22] michaelkrukov commented on #51
I think it would be good to make colors in default theme use newly introduced `colorScheme`. Maybe we should organize transition animations as a part of `styled-base-components` package. Like modal's Fade probably can be used in other parts of projects and components like popovers and tooltips. There are packages for creating transitions, but I guess we can just use some plain CSS transitions for

[2019-06-18 14:53] JohnTheo13 commented on #51
With regards to the Documentation a fast and nice implementation would be to use storybook's [withInfo](https://github.com/storybookjs/storybook/tree/master/addons/info)  with a custom table component (reusable across stories)

[2019-06-23 13:27] aichbauer commented on #51
@aakhan89 Yes, we definitely should improve the documentation. Could you give us more details on how you want to improve the dropdown component?

@michaelkrukov indeed, the readme files are not working anymore, and should be fixed.
Can you explain a bit more in details about the `colorScheme`?
I like the idea of having some reusable transitions, which we can use for the tooltips and popovers.

@Jo

[2019-06-23 13:28] #38 closed

[2019-06-23 13:28] #28 closed

[2019-06-23 13:34] #46 closed

[2019-06-24 05:07] michaelkrukov commented on #51
@aichbauer For example, `buttonPrimaryBackgroundColor` in `color` object only used in button's `backgroundColor` and has same values as `blue`. If I want to change all primary component's blue to some other color (or a different shade of blue), I will have to change its color in every component's theme configurations instead of just specifying different `primary` color in `colorScheme`. Also "prox

[2019-06-24 05:15] michaelkrukov commented on #51
While looking at styles, I also found that `ButtonGroup` actually has styles that change buttons' style.

[code]

I don't think that the library should operate on plain elements. If I recall correctly, this can be replaced with `& > ${Button} { ... }`. That way it will work with the button's class and any element.

[2019-06-25 07:19] aakhan89 opened #53 "ModalDialog max-width"
How can I modify  ModalDialog `max-width: 500px;` to `max-width: 600px;`

[2019-06-25 09:48] aakhan89 commented on #51
@aichbauer Sure, I will show you with example

[2019-06-27 09:38] michaelkrukov commented on #53
In the new version of modal, you can use 'dialogProps'. Example: https://codesandbox.io/s/modal-with-alert-rgjbm?fontsize=14

[2019-07-03 07:45] aakhan89 opened #55 "resize prop on FormControl"
@aichbauer  @michaelkrukov
Can you please add `resize` prop only on FormControl and Type: boolean

Thanks

[2019-07-03 10:44] aakhan89 commented on #53
@michaelkrukov and how about in earlier version ?

[2019-07-03 11:00] michaelkrukov commented on #53
@aakhan89 I'm not sure, I think your best option is to temporary copy new `styled-modal-component` and use it until new version's release

[2019-07-04 13:46] aichbauer commented on #53
@aakhan89

use could use the style prop

[code]

[![Edit Modal max-with](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbox.io/s/modal-with-styled-dialog-6f2o3?fontsize=14)
[code]

[2019-07-07 07:04] aakhan89 commented on #53
@aichbauer

what's wrong with this body ? can you please find out ?
![image](https://user-images.githubusercontent.com/38126236/60765165-5e1a1780-a0af-11e9-8445-15731b7fbfed.png)

[2019-07-07 09:31] aakhan89 commented on #53
for the time being I have changed in the node_modules `500px to 600px`, but I don't know what's the issue with this

[2019-07-08 09:22] aakhan89 opened #58 "multiSelect, singleSelect Form fields"
@aichbauer @michaelkrukov
can you please add multiSelect, singleSelect, createable multiSelect, createable singleSelect Component in the Form section?

[2019-07-08 09:35] aakhan89 opened #59 "customize focus styling on FormControl"
How to customize focus styling on FormControl fields

[2019-07-10 05:16] aakhan89 commented on #59
have done
[code]

[2019-07-10 05:16] #59 closed

[2019-07-16 13:31] michaelkrukov commented on #58
@aakhan89, doesn't components with this functionality already exists? https://aichbauer.github.io/styled-bootstrap-components/?path=/story/forms--form-controls

Please, be more specific and refer to examples if possible.

[2019-07-21 09:23] aichbauer commented on #58
@aakhan89 any updates on this one? Did the info from @michaelkrukov help you?

[2019-07-21 09:24] aichbauer commented on #53
@aakhan89 what version do you use?

[2019-07-21 10:02] #52 closed

[2019-07-21 11:04] #55 closed

[2019-07-24 05:47] aakhan89 commented on #58
@michaelkrukov @aichbauer

Actually I achieved by [https://react-select.com/home](url), so you can close this or you may also see examples for your ready reference

[2019-07-24 05:49] aakhan89 commented on #53
`"styled-bootstrap-components": "^3.0.2",`
` "styled-components": "^4.1.3",`

[2019-07-24 16:38] aichbauer commented on #53
@aakhan89  You can try to overwrite  with `max-width: 600px !important;`

[2019-07-24 16:39] #58 closed

[2019-08-02 07:53] aichbauer commented on #51
@michaelkrukov you are right about the `<ButtonGroup />`, I think this is exactly how it should work...

I think the idea with the colorscheme is good... and would improve the usability of styling your own components...

Do we have a idea of how to improve the docs with the readme? I used [docz](https://www.docz.site/) for all of my latest projects... Maybe we switch or do you think we should stay

[2019-08-02 13:56] michaelkrukov commented on #51
@aichbauer wow, it's been a while since I wrote here. So, I'll look into the ideas I mentioned when I'll have time.

Basically, stories' improvement is simplification (usage of hooks, removing unnecessary plugins, props, e.t.c.). And for readme files, I think they may be more concise: TOC (files are not that big for that), "Why?", "Related" (I don't think that's very relevant information) and "Lic

[2019-08-02 15:30] harrythedev commented on #25
@aichbauer  hey this solution doesn't work.
![Screen Shot 2019-08-02 at 11 29 09 AM](https://user-images.githubusercontent.com/22530537/62381137-cd512300-b518-11e9-975d-9a50e9776363.png)

i combined themes from `styled-config`. why did you use this dependency?

[2019-08-02 15:36] michaelkrukov commented on #25
@harrythedev when you use a `{...theme, ...customTheme}` - it's not a deep merge. Every not specified property on any levels except the first one will be lost. Use some deep merging functions, or copy the whole config and update it where you need it.

[2019-08-02 15:43] michaelkrukov commented on #25
@harrythedev also, pay attention to the order of themes in your merging. Latter ones replace earlier ones.

[2019-08-02 15:48] harrythedev commented on #25
@michaelkrukov thanks for response. but now i'm getting tons of errors from the deepmerge now.
[code]
which results
![Screen Shot 2019-08-02 at 11 46 18 AM](https://user-images.githubusercontent.com/22530537/62382350-61bc8500-b51b-11e9-9731-6f3530629dbc.png)

[2019-08-02 15:54] harrythedev commented on #25
first of all, i think you should've avoided dependency when building a library.

[2019-08-02 16:04] michaelkrukov commented on #25
@harrythedev what kind of errors? Themes are just objects with configuration, the correct merge should update changed values without changing the rest.

There is nothing wrong with having dependencies. `styled-config` is used in all 20 independent packages in this repository for configuration.  As well as `styled-base-components` this dependency is used to avoid repeated code and difficulties in p

[2019-08-02 16:32] michaelkrukov commented on #51
@aichbauer to allow users to reference `colorScheme` values in configuration, as well as use just colors, we'll have to allow some kind of reference in the config. Functions, for example, that will pull the required color from the current theme. That means these functions should have access to it. This will make config more complex, but, I guess, it's worth it. I will create a new issue for discus

[2019-08-06 17:44] aichbauer commented on #51
@michaelkrukov then I think we improve our stories so that we do not have to link the readme file... that would be a much simpler approach...

I personally think that "Why" is an important part (but could have an improvement [rm point 2 and 3, and tell why use this library and whats the difference to other solutions]) of an readme... so everyone who is coming from `bootstrap` or `reactstrap` sees

[2019-08-07 23:32] michaelkrukov commented on #51
@aichbauer "Usage" can be simplified by, for example, using React's hooks, e.t.c. I agree that readme should have enough information to use component.

We can add contributors to readme files, but I think something like a list with names, links and [emojies](https://allcontributors.org/docs/en/emoji-key) describing contribution categories will suffice. And keeping the license section is good.

[2019-09-08 14:12] #53 closed

[2019-09-10 06:38] aichbauer commented on #51
@michaelkrukov first off, thanks a lot for doing so much work on v4.0.0 👍

Do you think that we need any improvement before we release v4.0.0? Right now, I think you have implemented everything that we have discussed for version v4.0.0.

[2019-09-10 17:48] michaelkrukov commented on #51
@aichbauer, I think I implemented enough features to release a new version. I already want to use utilities and transitions in projects :D

[2019-09-15 08:02] #51 closed

[2019-12-25 11:37] farazbhinder opened #66 "how to apply custom css to styled-navbar-component"
Hi,
I want to change the background color of the navbar. I write inline style like following:
```<Navbar expandLg style={{ backgroundColor: "red" }}>```
But this doesn't makes it take the new background-color, and when I open developer tools from Firefox and uncheck the navbar's applied rule, i.e., ```background-color: #f0f0f0 !important;```, my style is applied. Is it possible to give custom back

[2019-12-25 11:47] farazbhinder commented on #66
Whoops, after searching a bit more I found a workaround at:
https://joshtronic.com/2018/03/22/how-to-important-inline-styles-in-react/

I need to apply the style to the Navbar using ref like following:
[code]

[2019-12-25 11:48] #66 closed

[2019-12-25 13:33] michaelkrukov commented on #66
Well, when you use `!important` it will take precedence over similar rules. That's how it supposed to work.

Use `styled-components` for styling and be careful about your rules' specifity (Google it, if you not sure) . Your current solution is pretty bad, you shouldnt use it.

You can check `styled-components` docs for more information about specifity issues. [Link](https://www.styled-components.c

[2020-02-09 10:37] apisandipas opened #71 "Error trying to build packages."
Hello, I'm vetting this package for my place of employment as we've bought in the styled-components and out current integration with Bootstrap is clunky. I'm trying to build the packages locally so that I might toy around in Storybook locally. However I'm getting an error:

lerna ERR! prepublish Errored while running script in 'styled-base-components'
lerna ERR! execute callback with error
lerna E

[2020-02-09 10:45] michaelkrukov commented on #71
[code]

Well. did you change anything here?

[2020-02-09 13:52] aichbauer commented on #71
@apisandipas I think what you try to accomplish is not going to work with `lerna prepublish`

first thing after cloning this repo:

[code]

[2020-02-16 01:11] apisandipas commented on #71
Thanks Guys . This can be closed now as my dev environment is working properly.

[2020-02-16 01:11] #71 closed

[2020-06-12 13:19] basakulcay opened #90 "Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>."
I keep getting a warning with the below message, however when I checked the buttons in the code, I couldn't figure out what's causing it.

Error message: Warning: validateDOMNesting(...): <button> cannot appear as a descendant of <button>.

Code example :
[code]

[2020-08-24 17:01] exlnt commented on #29
@aakhan89 Can you please post the root cause of your issue? I am running into the same error and I cannot find nested buttons anywhere in my code.

[2020-08-27 21:15] Garrett45 opened #99 "Styled-Components v^5.0.0"
I'm attempting to use this library with `styled-components ^5.0.0`. This throws a peer dependency error.

Would it be possible to update the peer dependencies to v5?

Thanks for the package
[code]

[2021-06-08 15:56] VityaSchel commented on #29
I used material UI's React Button inside my html button to have ripple effect :D
Is it a hack or bad practice?

[2021-09-21 07:18] saifur281 commented on #29
Hi the same problem appear to me as well. but i solved it . in my case when i use 2 buttons under CardedActionArea ( from "@material-ui/core ) . that time got the error .. if you having the same problem.. just a simple thing replace the CardActionArea to a div tag.. hope that will solve the problem .. Thanks

[2022-02-24 17:17] pokewillpower opened #184 ""CAUGHT TypeError: Cannot read property 'colour' of undefined""
I get this error thrown on the latest version that I compiled. Not entirely sure what it means but I've spent a couple of hours trying to get a workaround so that the program can work as I need it to. In the event this isn't a bug would you be able to explain the solution? Thanks!
![error](https://user-images.githubusercontent.com/83932354/155574118-664c1146-7dc3-4c3b-9e3d-c6a7d75ab91a.PNG)

[2022-02-24 17:20] #184 closed, assigned to nobody

[2022-02-24 17:20] pokewillpower commented on #184
Wrong project I'm so sorry

[2022-05-09 00:51] volevol commented on #29
This causes the problem:
[code]

This do not:
[code]

`CardActions` is like a button, `Button` is button. Button inside button causes such an error. You need to separate these two components.

[example of working CardActions with Button](https://codesandbox.io/s/iuqwtd?file=/demo.js:978-1116)